nav#menu__horizontal
  ul
    li 
       a(href="") Мягкая кровля
    li 
       a(href="") Черепица
       ul.submenu
          li
             a(href="") Металочерепица
          li
             a(href="") Гибкая черепица
    li 
       a(href="") Высотные работы
    li 
       a(href="") Уборка снега