header#my-header.grid
  div.header__top.grid
   div.header__top__information.grid
     div.header__logo
       img(src='assets/images/Logo-1.png' alt="Логотип")
     div.header__slogan
       p ЛУчшие решения для вас
     div.header__phone
       i.phone.fa.fa-phone 
         a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05  
     div
        a.time c 9:00 до 22:00
     div.header-back-call
       button.button__simple.button__simple_theme_white Заказать звонок
   div#head-menu.grid
     include ../../../common/menu/menu_page-main/menu
  div.header-content.grid
   div.discount.grid(style="background-image: url(assets/images/clean-1.jpg)" alt="Рабочие герметизируют крышу")
    div.discount__info
      h1 Акция! Выгодное обслуживание
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ullam, adipisci et quas ea autem, temporibus amet possimus deserunt vero similique quam fugit quae architecto doloremque, vel dolorum. Tempore, ducimus!
      button.button__simple.button__simple_theme_green Заказать
   div.benefits.grid
     div.benefits-items.grid
       img(src='assets/images/item-2.png', alt="Лучшие материалы и лучшая цена")
       p Гарантируем лучшую цену на кровельные материалы и работы по кровле
     div.benefits-items.grid
       img(src='assets/images/item-3.png', alt="Официально оформеленный договор")
       p Официальный договор
     div.benefits-items.grid
        img(src='assets/images/item-1.png', alt="Бесплатный замер специалистом")
        p Наш специалист  бесплатно произведет замер и детальный расчет вашей крыши
     div.benefits-items.grid
        img(src='assets/images/item-6.png', alt="Строгое соблюдение всех стандартов и нормативов")
        p Мы строго соблюдаем все стандарты и нормативы.
  
    
      
 
     
  
   

   
  