section.service-main#service_section
 div.service-top.grid.container
  div.service__head
   h1 Кровля под ключ
  div.our-service-left
    h2 О компании
    p МосКровСервис предлагает услуги по ремонту мягкой кровли. Мягкая кровля широко применяется для перекрытия крыши при строительстве многоэтажных зданий, частных домов, торговых залов, промышленных объектов, гаражей, бань и тд. Для производства кровельного покрытия используются материалы, изготовленные на основе битума и стекловолокна.
  div.our-service-right.grid
   div.our-service-items
     a.our-service-items__block_dark(href="waterproofing-spray.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-1.jpg)" alt="Рабочий на крыше")
     div.our-service-items__text.grid
       span.wrap__text Напыляемая гидроизоляция
   div.our-service-items
     a.our-service-items__block_dark(href="roof-mount.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-4.jpg)" alt="Рабочий ремонтирует мягкую кровлю")
     div.our-service-items__text.grid
       span.wrap__text Монтаж кровли
   div.our-service-items
     a.our-service-items__block_dark(href="metal-tile.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-3.jpg)" alt="Рабочие герметизируют крышу")
     div.our-service-items__text.grid
       span.wrap__text Черепица
   div.our-service-items
     a.our-service-items__block_dark(href="roof-waterproofing.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text.grid
       span.wrap__text Наплавляемая гидроизоляция
   div.our-service-items
     a.our-service-items__block_dark(href="roof-repair.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text.grid
        span.wrap__text Ремонт кровли
   div.our-service-items
     a.our-service-items__block_dark(href="flexible-tile.html")
     div.our-service-items__wrapper_dark
     div.our-service-items__img(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text.grid
       span.wrap__text Гибкая черепица