section.service-main#service_section
 div.service__head.grid
   h1 Кровля под ключ
 div.service-top.grid
  div.our-service-left
    h2 О компании
    p МосКровСервис предлагает услуги по ремонту мягкой кровли. Мягкая кровля широко применяется для перекрытия крыши при строительстве многоэтажных зданий, частных домов, торговых залов, промышленных объектов, гаражей, бань и тд. Для производства кровельного покрытия используются материалы, изготовленные на основе битума и стекловолокна.
  div.our-service-right.grid
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-1.jpg)" alt="Рабочий на крыше")
     div.our-service-items__text
       p Ремонт кровли
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-4.jpg)" alt="Рабочий ремонтирует мягкую кровлю")
     div.our-service-items__text
       p Монтаж кровли
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-3.jpg)" alt="Рабочие герметизируют крышу")
     div.our-service-items__text
       p Металочерепица
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text
       p Гибкая черепица
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text
       p Напыляемая гидроизоляция
   div.our-service-items
     div.our-service-items__img.grid(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     div.our-service-items__text
       p Наплавляемая гидроизоляция
  
 
