section.service-main#service_section
 div.service__head.grid
   h1 Кровля под ключ
 div.service-top.grid
  div.our-service-left
    h2 Мы специализируемся на плоских кровлях
    p Специалистами группы компаний «МосСтройАльянс» проводятся кровельные и фасадные работы с использованием технологий промышленного альпинизма. Также профессионалы осуществляют уборку снега. Мы рады предложить своим клиентам и современные материалы для кровли.
  div.our-service-right.grid
   div.our-service-items.grid(style="background-image: url(assets/images/service-1.jpg)" alt="Рабочий на крыше")
     button.button__simple.button__simple_theme_green Наплавляемая кровля
   div.our-service-items.grid(style="background-image: url(assets/images/service-4.jpg)" alt="Рабочий ремонтирует мягкую кровлю")
     button.button__simple.button__simple_theme_green Скатные крыши 
   div.our-service-items.grid(style="background-image: url(assets/images/service-3.jpg)" alt="Рабочие герметизируют крышу")
     button.button__simple.button__simple_theme_green Уборка снега
   div.our-service-items.grid(style="background-image: url(assets/images/service-2.jpg)" alt="зимнее обслуживание крыши")
     button.button__simple.button__simple_theme_green Высотные работы
 
