html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="description", content="Уборка кровли от снега, удаление сосулек и наледи выполняется оперативно и качественно. ")
        meta(name="Keywords" content="уборка снега с крыш зимнее обслуживание ")
        meta(name="HandheldFriendly" content="True")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="shortcut icon" href="/src/img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-startup-image" href="images/startup.png")
        link(rel="apple-touch-icon" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="72x72" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="src/img/favicon/favicon.ico")
        link(rel="stylesheet", href="assets/styles/main.min.css" type="text/css")
        include ../../../extra/yandexDirect.html
        script(src="https://kit.fontawesome.com/c643d1c7c0.js")
        title Ремонт мягкой кровли в Москве и Московской области   
    body
        div.callback-form.callback-form_hidden
            include ../common/callback__form/callback__form__call 
        div.order-overlay.callback-form_hidden
            include ../common/callback__form/callback__form_service-order
        div.main-wrapper
            div.m-menu-wrapper
                include ../common/menu/menu_mobile/menu_mobile 
            div.services-pages.content.grid
                div.services-pages__head
                    include ../common/header__top/header__top
                div.services-pages__content.grid.container
                    div.services-pages__title.service-name.md-title
                        h2 Уборка снега
                    div.services-pages__navbar
                        include ../common/menu/menu__vertical/menu__vertical
                    div.services-pages__main.grid
                        div.services-pages__main__img-container
                            img(src="assets/images/service-2.jpg", alt="")
                        header
                            p Уборка снега с крыш - сезонная услуга. Работа производится силами квалифицированных альпинистов . Уборка кровли от снега, удаление сосулек и наледи выполняется оперативно и качественно
                        div.order.grid
                            include ../common/service-order/service-order
                        div.services-pages__main__content
                            h2 Специфика уборки жесткой кровли от снега
                            br
                            p Покрытая снегом жесткая кровля зимой может дать течь вследствие затрудненного оттока воды по водостокам. Крыша из жести имеет множество стыков, герметичность которых может быть нарушена. Для сохранности здания и в целях обеспечения безопасности людей, проходящих вблизи сооружения, необходимо своевременно очищать горизонтальные поверхности от снега и сосулек. Уборка скатных крыш связана с определенным риском, поэтому используется метод промышленного альпинизма.
                            br
                            p Подготовленные специалисты проведут качественную очистку кровли любой конфигурации, включая самые сложные. При работе используются пластиковые лопаты и специальное страховочное снаряжение. Поможем свывозом снега с вашей территории.
                            div.content__right.grid
                                h2 Почему необходима очистка кровли от снега?
                                div.content__right__text
                                    img(src="assets/images/clean-3.jpg", alt="")
                                    p Если снега на крыше накапливается слишком много это может стать причиной возникновения трещин, повреждения покрытий кровли, поэтому эта проблема касается многих руководителей и хозяев предприятий.
                                
                            div.content__text.grid
                                div.content__text__text
                                    p Конечно же, можно воспользоваться услугами дворников, но они не всегда соблюдают технику безопасности, и их работа не будет столь эффективной как у профессионалов. Кроме того, многие современные здания имеют крыши со сложной конструкцией, поэтому очистка кровли от снега в разы усложняется, и помочь смогут только профессионалы. Мы может предложить вам провести одноразовую чистку, или же предоставить более выгодное - абонентское обслуживание (иногда за ночь выпадает месячная норма осадков, и одноразовой чисткой за всю зиму точно не обойтись).
                            div.content__text.grid
                                div.content__text__text
                                    p Появление толстых слоев снега на кровле – это реальная угроза не только для кровли, но и прохожих, припаркованных автомобилей, и.т.п. Особенно опасными являются сосульки, которые могут отвалиться в любой момент
                                    br
                                    p Удалять снег, лед с крыши, не имея опыта и специального оборудования очень опасно для жизни, трудоемко и малоэффективно. Если воспользоваться электро подогревом крыши, это будет слишком дорого, кроме того, установить такое оборудование не везде можно.
                                
                            div.content__text.grid
                                div.content__text__text
                                    p Справиться с проблемой вам помогут промышленные альпинисты, которые предоставляют услугу - очистка кровли от снега, льда или сосулек. Это наиболее экономичный, эффективный и оперативный метод очистки крыши даже в самых высоких зданиях. Воспользоваться такой услугой можно у нас. Работающие в нашей компании промальпы качественно и без угрозы жизни других людей уберут снег, удалят сосульки на любых зданиях, будь то обычный жилой дом, или высотный торговый комплекс
                            div.content__left.grid
                                div.content__left__text
                                    img(src="assets/images/clean-1.jpg", alt="")
                                    h2 К ценообразующим факторам относятся:
                                    ul
                                        li периодичность
                                        li общая площадь кровли
                                        li архитектурные особенности крыши
                                        li тип кровли
                                
                            div.content__text.grid
                                div.content__text__text
                                    h2 Подготовка к зимнему и летнему периоду кровель
                                    br 
                                    p Подготовка к зимнему периоду включает в себя:
                                    ul
                                        li Прочистка водосточных желобов от листвы и прочего мусора, необходимо для правильной очистки крыш от снега и наледи т.к. наличие мусора может повлечь за собой поломку желобов во время очистки кровель и не позволит обеспечить должное качество работ/услуг.
                                    p Данные работы необходимо проводить после каждой зимы, вне зависимости проводились ли работы по очистке от снега и льда лили нет. В противном случае происходит скопление воды на кровле, попадание воды на фасад здания, что приводит к разрушениям и плохому внешнему виду зданий.
                                
                
                div.footer
                    include ../common/footer
        block scripts
            script(src="assets/scripts/index.bundle.js")
            script(src="assets/scripts/common.bundle.js")
