extends ../main.layout.pug
block content
     div.main-wrapper
          div.m-menu-wrapper
               include ../common/menu/menu_mobile/menu_mobile
          section.contacts.content.grid
               div.contacts__header
                    include ../common/header__top/header__top
               div.contacts__content.container.grid
                    div.contacts__content__feedback.grid
                         div.contacts__content__feedback__about
                              h2.mt-title Свяжитесь с нами
                              p Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и предложат оптимальное техническое решение.
                         form.contacts__content__feedback__form#feedback__form.grid
                              div.feedback__form__left.grid
                                   div.feedback__block__input
                                        input(name="name" id="input__contact-name" type="text"  required).input-text
                                        label(for="input__contact-name")
                                             span Ваше имя:
                                   div.feedback__block__input
                                        input(name="phone" type="text" id="input__contact-phone"  required).input-text
                                        label(for="input__contact-phone")
                                             span Телефон:
                                   div.feedback__block__input
                                        input(name="email" type="text" id="input__contact-email"  ).input-text
                                        label(for="input__contacts-email")
                                             span Email:
                              div.feedback__form__right
                                   div.feedback__block__input
                                        textarea(name="message" id="input__contact-message" type="text"  cols="43" rows="14"  ).input-text
                                        label(for="input__contact-message")
                                             span Сообщение:
                              div.feedback__block__input__licence
                                   input(type="checkbox" id="licence-1" checked) 
                                   label(for="licence-1")
                                        a.license-detail(href="./license.html") Я согласен на обработку персональных данных
                                   button.button__simple.button__simple_theme_green#sendContactForm(type="submit") Отправить
               
                    div.contacts__content__feedback__info.grid
                         div.feedback__info__item.grid
                              div.feedback__info__item__icon.grid
                                   i.fas.fa-phone
                              div.feedback__info__item__text
                                   p.title Телефон:
                                   p.text +7 (495) 142-53-05

                         div.feedback__info__item.grid
                              div.feedback__info__item__icon.grid
                                   i.fas.fa-envelope
                              div.feedback__info__item__text
                                   p.title E-mail:
                                   p.text info@moskrovservice.ru
                         div.feedback__info__item.grid
                              div.feedback__info__item__icon.grid
                                   i.fas.fa-clock
                              div.feedback__info__item__text
                                   p.title Режим работы:
                                   p.text С 9:00 до 22:00


               div.projects__footer
                    include ../common/footer