extends ../main.layout.pug
block content
    div.main-wrapper
        div.m-menu-wrapper
            include ../common/menu/menu_mobile/menu_mobile
        section#my-page.content.grid
            include partials/main/header
            section#my-content
                include partials/main/our_service
                include partials/main/work
        include ../common/footer
