doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="description", content="Качественный и быстрый ремонт мягкой кровли в Москве и московской области. Бесплатный замер. ")
        meta(name="Keywords" content="ремонт мягкой кровли гидроизоляция крыши капитальный ремонт зимнее обслуживание ")
        meta(name="HandheldFriendly" content="True")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="shortcut icon" href="/src/img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-startup-image" href="images/startup.png")
        link(rel="apple-touch-icon" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="72x72" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="src/img/favicon/favicon.ico")
        link(rel="stylesheet", href="assets/styles/main.min.css" type="text/css")
        script(src="https://kit.fontawesome.com/c643d1c7c0.js")
        title Ремонт мягкой кровли в Москве и Московской области   
    body 
        div.callback-form.callback-form_hidden
            include ../common/callback__form/callback__form__call
        div.order-overlay.callback-form_hidden
            include ../common/callback__form/callback__form_service-order
        div.main-wrapper
            div.m-menu-wrapper
                include ../common/menu/menu_mobile/menu_mobile 
            div.services-pages.content.grid
                div.services-pages__head
                    include ../common/header__top/header__top
                div.services-pages__content.grid.container
                    div.services-pages__title.service-name.md-title
                        h2 Ремонт наплавляемой кровли
                    div.services-pages__navbar
                        include ../common/menu/menu__vertical/menu__vertical
                    div.services-pages__main.grid
                        div.services-pages__main__img-container
                            img(src="assets/images/roof-repair-1.jpg", alt="")
                        header
                            p Даже качественная кровля со временем нуждается в ремонте и обслуживании. Использовавшиеся ранее технологии возведения не были совершенными, и в процессе эксплуатации могут возникать разные дефекты, устранение которых лучше доверить компетентным специалистам.
                        div.order.grid
                            include ../common/service-order/service-order
                        div.services-pages__main__content
                            h2 Основные виды ремонта
                            br
                            p Текущий ремонт кровли представляет собой замену пришедших в негодность элементов кровли при:
                            ul
                                li появлении протечек
                                li повреждении каких-либо элементов крыши
                                li снижении звукоизолирующих свойств крыши
                                li ухудшении теплоизолирующих характеристик кровли
                            div.content__right.grid
                                h2 Капитальный ремонт
                                div.content__right__text
                                    img(src="assets/images/roof-repair-2.jpg", alt="")
                                    p Капитальный ремонт кровли проводится, когда возникает необходимость заменить большую часть кровельного покрытия или полностью снять его с последующей укладкой нового ковра. Основной целью ремонта является  ликвидация повреждений и негативных воздействий, к которым они приводят.
                            div.content__left.grid
                                h2 Текущий ремонт
                                div.content__left__text
                                    img(src="assets/images/service-1.jpg", alt="")
                                    p Такой ремонт кровли дома и любого другого объекта проводится при длительной эксплуатации конструкций. Безусловно, даже самая надежная поверхность способна разрушаться. Сначала на плоскостях появляются вздутия, пузыри, отверстия, затем они провоцируют протечки. Не допустить этого позволяет своевременная диагностика состояния покрытий и регулярный ремонт. Обычно восстановление требуется проводить каждые 3-5 лет.              
                div.footer
                    include ../common/footer
        block scripts
            script(src="assets/scripts/common.bundle.js")
            script(src="assets/scripts/index.bundle.js")
