html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="description", content="Качественный и быстрый ремонт мягкой кровли в Москве и московской области. Бесплатный замер. ")
        meta(name="Keywords" content="ремонт мягкой кровли гидроизоляция крыши капитальный ремонт зимнее обслуживание ")
        meta(name="HandheldFriendly" content="True")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="shortcut icon" href="/src/img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-startup-image" href="images/startup.png")
        link(rel="apple-touch-icon" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="72x72" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="src/img/favicon/favicon.ico")
        link(rel="stylesheet", href="assets/styles/main.min.css" type="text/css")
        title Ремонт мягкой кровли в Москве и Московской области   
    body 
        div.roof-waterproofing.grid
            div.roof-waterproofing__head
                 include ../common/header__top/header__top
            div.roof-waterproofing__content.grid.container
                 div.roof-waterproofing__title.md-title
                     h2 Наплавляемая гидроизоляция
                 div.roof-waterproofing__navbar
                     include ../common/menu/menu__vertical/menu__vertical
                 div.roof-waterproofing__main.grid
                     picture
                         img(src="assets/images/about-1.png", alt="")
                     header
                         p Гидроизоляция кровли – необходимая мера, которая выполняет важную функцию: предохраняет кровлю от разрушительного влияния атмосферной влаги и различных водных растворов. Если не провести работы по гидроизоляции вовремя, то атмосферные осадки могут спровоцировать быстрый износ кровельного покрова, что сократит срок службы всей крыши. Если не сделать своевременную гидроизоляцию, придется проводить ремонт всей кровли.
                     div.order.grid
                         include ../common/service-order/service-order
                     div.content
                         h2 Монтаж наплавляемой гидроизоляции кровли
                         ul
                             li Поверхность рулона разогревают горелкой
                             li Рулон раскатывают
                             li Такое покрытие отличается длительным сроком службы
                         div.content__items__1.grid
                             div.content__items__1__text
                                 h2 Преимущества наплавляемой гидроизоляции
                                 br
                                 ul
                                     li Наплавляемая гидроизоляция  надежно защищает от влаги и внешних шумов
                                     li Современная мягкая рулонная кровля экологически безопасна и соответствует нормам противопожарной безопасности
                                     li Высокие показатели наплавляемой кровли актуальны и выгодны
                             img(src="assets/images/about-1.png", alt="")
            div.footer
                include ../common/footer
        block scripts
             script(src="assets/scripts/services.bundle.js")
             script(src="assets/scripts/common.bundle.js")
