extends ../main.layout.pug
block content
 div.services.grid
     div.services__header.grid
         include ../common/header__top/header__top
     div.services__navbar.grid
         include ../common/menu/horizontal__menu/menu__horizontal
     div.services__main.grid
     div.services__footer.grid
