extends ../main.layout.pug
block content
 div.services.grid
     div.services__header.grid
         include ../common/header__top/header__top
     div.services__navbar.grid
         include ../common/menu/menu__vertical/menu__vertical
     div.services__main.grid
     div.services__footer.grid
block scripts
     script(src="assets/scripts/services.bundle.js")
     script(src="assets/scripts/common.bundle.js")
