doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="description", content="Качественный и быстрый ремонт мягкой кровли в Москве и московской области. Бесплатный замер. ")
        meta(name="Keywords" content="ремонт мягкой кровли гидроизоляция крыши капитальный ремонт зимнее обслуживание ")
        meta(name="HandheldFriendly" content="True")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="shortcut icon" href="/src/img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-startup-image" href="images/startup.png")
        link(rel="apple-touch-icon" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="72x72" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="src/img/favicon/favicon.ico")
        link(rel="stylesheet", href="assets/styles/main.min.css" type="text/css")
        title Ремонт мягкой кровли в Москве и Московской области   
    body 
        div.services.grid
             div.services__header.grid
                 include ../common/header__top/header__top
             div.service__content.grid
                 div.services__page-title
                     h2 Услуги
                 div.services__navbar.grid
                     include ../common/menu/menu__vertical/menu__vertical
                 div.services__main.grid
                     div.services__work.grid
                         div.sevices__work_left
                             img(src="assets/images/service-2.jpg", alt="")
                         div.sevices__work_right
                             h3 Наплавляемая кровля
                             ul
                                 li 
                                     a(href="roof-repair.html") Ремонт кровли
                                 li
                                     a(href="roof-mount.html") Монтаж кровли
                         p Наплавляемая кровля — это мягкое кровельное покрытие, которое монтируется с применением газовой горелки путем подачи пламени в место сплавления и раскатки битумного рулонного материала.
                     div.services__work.grid
                         div.sevices__work_left
                             img(src="assets/images/service-2.jpg", alt="")
                         div.sevices__work_right
                             h3 Черепица
                             ul
                                 li
                                     a(href="metal-tile.html") Металочерепица
                                 li
                                     a(href="flexible-tile.html") Гибкая черепица
                         p Наплавляемая кровля — это мягкое кровельное покрытие, которое монтируется с применением газовой горелки путем подачи пламени в место сплавления и раскатки битумного рулонного материала.
                     div.services__work.grid
                         div.sevices__work_left
                             img(src="assets/images/service-2.jpg", alt="")
                         div.sevices__work_right
                             h3 Гидроизоляция
                             ul
                                 li
                                     a(href="waterproofing-spray.html") Напыляемая гидроизоляция
                                 li
                                     a(href="roof-waterproofing.html") Наплавляемая гидроизоляция
                         p Гидроизоляция кровли – необходимая мера, которая выполняет важную функцию: предохраняет кровлю от разрушительного влияния атмосферной влаги и различных водных растворов.
                     div.services__work.grid
                         div.sevices__work_left
                             img(src="assets/images/service-2.jpg", alt="")
                         div.sevices__work_right
                             h3 Уборка снега
                             ul
                                 li
                                     a(href="clean.html") Уборка снега с крыш
                         p Уборка снега с крыш - сезонная услуга. Работа производится силами квалифицированных альпинистов . Уборка кровли от снега, удаление сосулек и наледи выполняется оперативно и качественно.
             div.services__footer.grid
        block scripts
            script(src="assets/scripts/services.bundle.js")
            script(src="assets/scripts/common.bundle.js")
