div.service-order.grid
    img(src="assets/images/item-1.png", alt="")
    p Оформите заявку на расчет, мы свяжемся с вами ближайшее время и ответим на все интересующие вопросы.
    include ../button/button__order