div.service-order.grid
    .img-container
        img(src="assets/images/item-1.png", alt="")
    .text-container
        p Оформите заявку на расчет, мы свяжемся с вами ближайшее время и ответим на все интересующие вопросы.
    .btn-container
        include ../button/button__order