section#my-footer.grid
 .footer-items.grid
     .footer-left   
       p ©  «MosKrovService» 2018 

     .footer-right
      ul
       p контакты
       hr
       li
         i.fa.fa-phone 
         a(href="tel:+7 (495) 142-53-05")   +7 (495) 142-53-05  
       li
         i.fa.fa-phone 
         a(href="tel:+7 (977) 613-52-02")   +7 (977) 613-52-02  
      
      
        
     
 
      