section#my-footer.grid
 .footer-items.grid
     .footer__left
       h2.md-title О компании
       p МосКровСервис предлагает услуги по ремонту мягкой кровли. Мягкая кровля широко применяется для перекрытия крыши при строительстве многоэтажных зданий, частных домов, торговых залов, промышленных объектов, гаражей, бань и тд. Для производства кровельного покрытия используются материалы, изготовленные на основе битума и стекловолокна
     .footer__center 
       h2.md-title Услуги
       ul
        li 
          a(href="./roof-repair.html") Ремонт кровли
        li 
          a(href="./roof-mount.html") Монтаж кровли
        li 
          a(href="./metal-tile.html") Металочерепица
        li 
          a(href="./flexible-tile.html") Гибкая черепица
        li 
           a(href="./waterproofing-spray.html") Наплавляемая гидроизоляция
        li
          a(href="./roof-waterproofing.html") Напыляемая гидроизоляция
        li
          a(href="./clean.html") Уборка снега с крыш
       

     .footer__right
       h2.md-title Наши контакты
       ul
          li
            i.contacts.fa.fa-phone  
             a(href="tel:+7 (495) 142-53-05")   +7 (495) 142-53-05  
          li
            i.contacts.fas.fa-envelope
             a.mail(href="mailto:info@moskrovservice.ru")       info@moskrovservice.ru
