doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="description", content="Качественный и быстрый ремонт мягкой кровли в Москве и московской области. Бесплатный замер. ")
        meta(name="Keywords" content="ремонт мягкой кровли гидроизоляция крыши капитальный ремонт зимнее обслуживание ")
        meta(name="HandheldFriendly" content="True")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="shortcut icon" href="/src/img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-startup-image" href="images/startup.png")
        link(rel="apple-touch-icon" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="72x72" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="src/img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="144x144" href="src/img/favicon/favicon.ico")
        link(rel="stylesheet", href="assets/styles/main.min.css" type="text/css")
        script(src="https://kit.fontawesome.com/c643d1c7c0.js")
        title Ремонт мягкой кровли в Москве и Московской области   
    body
      div.callback-form.callback-form_hidden
        include common/callback__form/callback__form__call
      block content
      block scripts
        script(src="assets/scripts/index.bundle.js")