.contacts
    grid-template-columns: 1fr
    grid-template-rows: 18vh 52vh 30vh
    grid-row-gap: 5%

.contacts__content
    height: 53vh
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 20%
    grid-column-gap: 2%
    grid-row-gap: 1%

    .contacts__content__feedback__left
        h2
            margin: 0
        p
            font-family: "Roboto-md"
            font-size: 14pt
            letter-spacing: 1px
            font-weight: 400
            color: $grey

    .contacts__content__feedback__center
        grid-template-rows: repeat(5,15%)
        font-family: "Roboto-md"
        .feedback__block__input
            position: relative
            label
                position: absolute
                top: 16%
                left: 5%
                transition: .4s
                color: #999999
            .input-text
                background-color: #fbfbfb
                width: 80%
                height: 60%
                text-align: left
                padding-left: 2%  
                box-shadow: none
                border: 1px  #999999 solid
                &:focus ~ label
                    top: -13%
                    left: 3%
                    background-color: white
                    color: black
                &:focus
                    border: 1px black solid
                    background-color: white
        .feedback__block__input__licence
            label
                a
                    text-decoration: none
                    color: black
                    link: black
                    vlink: black
                    alink: black

    .contacts__content__feedback__right
        font-family: "Roboto-md"
        .feedback__block__input
            position: relative
            label
                position: absolute
                top: 3%
                left: 5%
                background-color: white
                transition: .4s
                color: #999999
            .input-text
                background-color: #fbfbfb
                width: 80%
                height: 90%
                text-align: left
                padding-left: 2%  
                box-shadow: none
                border: 1px  #999999 solid  
                &:focus ~ label
                    top: -2.2%
                    left: 3%
                    background-color: white
                    color: black
                &:focus
                    border: 1px black solid
                    background-color: white
    
    .contacts__content__feedback__info
        grid-template-columns: repeat(3, 1fr)
        grid-column: 1/-1
        background-color: #fafafa
        width: 70%
        border: 1px #bdc3c7 solid
        justify-self: center
        .feedback__info__item
            padding-left: 10px
            grid-template-columns: 17% 88%
            grid-column-gap: 4%
            align-items: center
            justify-self: center
            width: 100%
            text-align: left
        
            .feedback__info__item__icon
                background-color: #16a085
                width: 55px
                height: 55px
                border-radius: 50% 
                text-align: center
                padding: 5px
                align-items: center
                i::before
                    margin: auto
                    font-family: "FontAwesome"
                    font-size: 2rem
                    color: white

            .feedback__info__item__text
                .title
                    font-size: "16pt"
                    font-family: "Roboto-ld"
                .text
                    font-size: "15pt"
                    font-family: "Roboto-md"


