.flexible-tile
    grid-template-rows: 18vh 240vh 10vh
    grid-column-gap: 10px
    grid-row-gap: 20px
    position: relative
        
    .flexible-tile__content
        grid-template-columns: 30% 70%
        grid-template-rows: 60px 700px
        grid-column-gap: 20px
        grid-row-gap: 2px
        grid-template-areas: "title title" "navbar main"

    .flexible-tile__title
        grid-area: title
        align-self: center

    .flexible-tile__navbar
        grid-area: navbar

    .flexible-tile__main
        grid-area: main
        grid-template-columns: 25% 65%
        grid-template-rows: 8% 5% 80%
        grid-template-areas: "img header" "order order" "content content"
        grid-column-gap: 20px
        grid-row-gap: 20px

        .order
            grid-area: order
            background: grey
            background:  #fafafa
        picture
            grid-area: img
            img
                max-width: 100%
                max-height: 100%
        header
            grid-area: header
            position: relative
            p
                font-family: "Roboto-md"
                font-size: 14pt
                letter-spacing: 1.1px
                text-align: left
                line-height: 25px
                padding: 0 2px 5px 5px
                border-bottom: 2px solid $green
                margin: 0
        .content
            grid-area: content
            img
                max-width: 100%
                max-height: 100%
                margin: auto
                
            p
                font-size: 14pt
                font-family: "Roboto-md"
                color: grey
                line-height: 25px
                margin: 0
            ul 
                li
                    font-size: 14pt
                    font-family: "Roboto-md"
                    color: grey
                    padding: 5px
            h2
                    margin: 0
            .content__items__1
                grid-template-columns: 30% 60%
                grid-template-rows: 1fr
                grid-gap: 10px
                padding-top: 30px
                .content__items__1__text
                    grid-column: 2/3
                    grid-row: 1/2
                img
                    grid-column: 1/2
                    grid-row: 1/2
            .content__items__2
                grid-template-columns: 30% 60%
                grid-template-rows: 1fr
                grid-gap: 10px
                padding-top: 30px
                .content__items__2__text
                    grid-column: 1/-1
                    grid-row: 1/2
            .content__items__3
                grid-template-columns: 60% 30%
                grid-template-rows: 1fr
                grid-gap: 10px
                padding-top: 30px
                .content__items__3__text
                    grid-column: 1/2
                    grid-row: 1/2
                img
                    grid-column: 2/3
                    grid-row: 1/2
@import "../_media"          
                
                