.roof-repair
    grid-template-rows: 18vh 120vh 10vh
    grid-column-gap: 10px
    grid-row-gap: 20px
    position: relative

    .roof-repair__content
        grid-template-columns: 30% 70%
        grid-template-rows: 10vh 80vh
        grid-column-gap: 20px
        grid-row-gap: 15px
        grid-template-areas: "title title" "navbar main"

    .roof-repair__title
        grid-area: title
        align-self: center
        padding-left: 1.1em

    .roof-repair__navbar
        grid-area: navbar

    .roof-repair__main
        padding: 15px
        grid-area: main
        grid-template-columns: 25% 75%
        grid-template-rows: 20% 11% 55%
        grid-template-areas: "img header" "order order" "content content"
        grid-column-gap: 20px
        grid-row-gap: 20px

        .order
            grid-area: order
            background: grey
            background: #fafafa

        .roof-repair__main__img-container
            grid-area: img
            position: relative
            overflow: hidden
            img
                position: absolute
                margin: auto
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: 100%
        header
            grid-area: header
            position: relative
            p
                font-family: "Roboto-md"
                font-size: 14pt
                letter-spacing: 1.1px
                text-align: left
                line-height: 25px
                padding: 0 2px 5px 5px
                border-bottom: 2px solid $green
                margin: 0
        .content
            grid-area: content
            p
                font-size: 14pt
                font-family: "Roboto-md"
                color: grey
                line-height: 25px
                margin: 0
            ul
                li
                    font-size: 14pt
                    font-family: "Roboto-md"
                    color: grey
                    padding: 5px
            h2
                margin: 0
            .content__items__1
                grid-template-columns: 30% 70%
                grid-gap: 10px
                padding-top: 30px
                .content__items__1__text
                    grid-column: 2/3
                .content__items__1__img
                    position: relative
                    overflow: hidden
                    grid-column: 1/2
                    img
                        position: absolute
                        margin: auto
                        top: 0
                        left: 0
                        right: 0
                        bottom: 0
                        width: 100%

            .content__items__2
                grid-template-columns: 70% 30%
                grid-gap: 10px
                padding-top: 30px
                .content__items__2__img
                    grid-column: 2/3
                    grid-row: 1/2
                    position: relative
                    overflow: hidden
                    img
                        position: absolute
                        margin: auto
                        top: 0
                        left: 0
                        right: 0
                        bottom: 0
                        width: 100%
                .content__items__2__text
                    grid-column: 1/2
                    grid-row: 1/2
