.roof-repair
    grid-auto-columns: 100%
    grid-template-rows: 18vh 72vh 10vh
    grid-column-gap: 10px
    position: relative
    min-height: 100%
    
    .roof-repair__content
        grid-template-columns: 30% 70%
        grid-template-rows: 12% 88%
        grid-column-gap: 20px
        grid-row-gap: 17px
        grid-template-areas: "title title" "navbar main"

    .roof-repai__title
        grid-area: title

    .roof-repair__navbar
        grid-area: navbar

    .roof-repair__main
        grid-area: main
        
