nav#menu__vertical
  ul
    li 
       input(id="check_1" type="checkbox").menu__items 
       label(for="check_1").menu Наплавляемая кровля
       ul.submenu
          li
             a(href="roof-repai.html") Ремонт кровли
          li
             a(href="") Монтаж кровли
          li
             a(href="") Гидроизоляция
    li
         input(id="check_2" type="checkbox").menu__items 
         label(for="check_2").menu Черепица
         ul.submenu
            li
               a(href="") Металочерепица
            li
               a(href="") Гибкая черепица
    li
       input(id="check_3" type="checkbox")
       label(for="check_3").menu Напыляемая кровля
       ul.submenu
            li
               a(href="") Напыляемая гидроизоляция
           
    li 
       input(id="check_4" type="checkbox")
       label(for="check_4").menu Уборка снега
       ul.submenu
            li
               a(href="") Уборка снега с крыш
            
       
      
       