nav#menu__vertical
  ul
    li
       input(id="check_1" type="checkbox").menu__items 
       label(for="check_1") Мягкая кровля
       ul.submenu
          li
             a(href="") Гидроизоляция
          li
             a(href="") Наплавляемая кровля
    li
         input(id="check_2" type="checkbox").menu__items 
         label(for="check_2") Металочерепица
         ul.submenu
            li
               a(href="") Металочерепица
            li
               a(href="") Гибкая черепица
    li
       input(id="check_3" type="checkbox").menu__items 
       label(for="check_3") Напыляемая
       ul.submenu
          li
             a(href="") Гидроизоляция
          li
             a(href="") Наплавляемая кровля
    li 
       input(id="check_4" type="checkbox").menu__items 
       label(for="check_4") Уборка снега
       ul.submenu
          li
             a(href="") Гидроизоляция
          li
             a(href="") Наплавляемая кровля
      
       