div.header__top.grid
   div.header__top__information.grid
     div.header__logo
       a(href="./index.html")
          img(src='assets/images/Logo-1.png' alt="Логотип")
     div.header__slogan
       p Лучшие решения для вас
     div.header__phone
       i.phone.fa.fa-phone 
         a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05  
       div.messengers
         a.wa(href="https://wa.me/79776135202") WhatsApp
         a.tg(href="https://teleg.run/MosKrovService") Telegram
     div.header__callback
       include ../button/button__callback
   div#head-menu.grid
     include ../menu/menu_page-main/menu
     
