nav#my-menu.grid
    ul
       li
          a(href="./index.html#my-header") Главная
       li
           a(href="./index.html#about_section") О компании
       li 
          a(href="./index.html#service_section") Как мы работаем
       li 
          a(href="./index.html#work_section") Схема работы
       li 
          a(href="./index.html#contact_section") Контакты
