form.contact-form.grid
  div.contact-form__title
    p Заказать обратный звонок
  div.contact-form__name.grid
      input.contact-form__input_theme-circle(name="name" type="text" placeholder="Имя" required )
  div.contact-form__telephone.grid
      input.contact-form__input_theme-circle(name="phone" id="input_phone" type="text" maxlength="18" placeholder="Телефон" required )
  div.contact-form__button.grid
      button.button__submit_green(type="submit") Отправить