a(href="#").m-menu__btn.hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner
nav.m-menu.grid
   div.m-menu__main
      div.m-menu__main__items 
         a(href="./index.html") Главная 
      div.m-menu__main__items
         a(href="./services.html") Услуги
         button.submenu__btn
            i.fas.fa-long-arrow-alt-right 
      div.m-menu__main__items
         a(href="./projects.html") Проекты 
      div.m-menu__main__items
         a(href="./contacts.html") Контакты 
      div.m-menu__main__items
       i.phone.fa.fa-phone 
         a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05 
   div.submenu.grid
      div.menu_back 
         i.fas.fa-long-arrow-alt-left
         p Назад
      div.submenu__title Услуги
      div.submenu__items
         button.extramenu__btn Наплавляемая кровля 
         div.extramenu
            div.extramenu__items
               a(href="") Монтаж кровли
            div.extramenu__items
               a(href="") Ремонт кровли
      div.submenu__items
         button.extramenu__btn Черепица
         div.extramenu
            div.extramenu__items
               a(href="") Металочерепица
            div.extramenu__items
               a(href="") Гибкая черепица
      div.submenu__items
         button.extramenu__btn Гидроизоляция
         div.extramenu
            div.extramenu__items
               a(href="") Наплавляемая гидроизоляция
            div.extramenu__items
               a(href="") НАпыляемая гидроизоляция
      div.submenu__items
         a(href="") Уборка снега
      

