a(href="#").m-menu__btn.hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner
nav.m-menu.grid
   div.m-menu__main
      div.m-menu__main__items 
         a(href="./index.html") Главная 
      div.m-menu__main__items
         a(href="./services.html") Услуги
         button.submenu__btn
            i.fas.fa-long-arrow-alt-right 
      div.m-menu__main__items
         a(href="./projects.html") Проекты 
      div.m-menu__main__items
         a(href="./contacts.html") Контакты 
      div.m-menu__main__items
         i.phone.fa.fa-phone.m__mes
            a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05
         i.fab.fa-whatsapp.m__mes
            a(href="https://wa.me/79776135202")   WhatsApp
         i.fab.fa-telegram.m__mes
            a(href="https://teleg.run/MosKrovService")   Telegram

   div.submenu.grid
      div.submenu__title
         button.submenu__btn_back
            i.fas.fa-long-arrow-alt-left
         a.submenu__items__services(href="./services.html") Услуги 
      div.submenu__items
         button.extramenu__btn Наплавляемая кровля 
         div.extramenu
            div.extramenu__items
               a(href="./roof-mount.html") Монтаж кровли
            div.extramenu__items
               a(href="./roof-repair.html") Ремонт кровли
      div.submenu__items
         button.extramenu__btn Черепица
         div.extramenu
            div.extramenu__items
               a(href="./metal-tile.html") Металочерепица
            div.extramenu__items
               a(href="./flexible-tile.html") Гибкая черепица
      div.submenu__items
         button.extramenu__btn Гидроизоляция
         div.extramenu
            div.extramenu__items
               a(href="./roof-waterproofing.html") Наплавляемая гидроизоляция
            div.extramenu__items
               a(href="./waterproofing-spray.html") Напыляемая гидроизоляция
      div.submenu__items.clean
         a.clean(href="./clean.html") Уборка снега
      div.submenu__items
         i.phone.fa.fa-phone.m__mes
            a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05
         i.fab.fa-whatsapp.m__mes
            a(href="https://wa.me/79776135202")   WhatsApp
         i.fab.fa-telegram.m__mes
            a(href="https://teleg.run/MosKrovService")   Telegram
   div.m-menu__callback-form__btn.m-menu__callback-form
      include ../../button/button_mobile-menu


      

