nav#my-menu.grid
 ul
    li.menu__list
     a(href="./index.html") Главная
    li.menu__list 
     a(href="./services.html") Услуги
     ul.menu__list__submenu
         li.submenu__list Наплавляемая кровля
            ul.submenu_right
               li.submenu_right__items
                  a(href="./roof-repair.html") Ремонт кровли
               li.submenu_right__items
                  a(href="./roof-mount.html") Монтаж кровли
         li.submenu__list Черепица
            ul.submenu_right
               li.submenu_right__items
                  a(href="./metal-tile.html") Металочерепица
               li.submenu_right__items
                  a(href="./flexible-tile.html") Гибкая черепица
         li.submenu__list Гирдоизоляция
            ul.submenu_right
               li.submenu_right__items
                  a(href="./waterproofing-spray.html") Напыляемая кровля
               li.submenu_right__items
                  a(href="./roof-waterproofing.html") Наплавляемая кровля
         li.submenu__list
            a(href="./clean.html") Уборка снега
    li.menu__list 
     a(href="./projects.html") Проекты
    li.menu__list 
     a(href="./contacts.html") Контакты



   
 
