nav#my-menu.grid
 ul
    li
     a(href="#my-header") Главная
    li 
     a(href="#service_section") Услуги
    li 
     a(href="#work_section") Схема работы
    li 
     a(href="#contact_section") Контакты



   
 
