nav#my-menu.grid
 ul
    li
     a(href="./index.html") Главная
    li 
     a(href="./services.html") Услуги
    li 
     a(href="./projects.html") Проекты
    li 
     a(href="#contact_section") Контакты



   
 
