div.loaderArea
     div.sk-fading-circle
             div.sk-circle.sk-circle-1
             div.sk-circle.sk-circle-2
             div.sk-circle.sk-circle-3
             div.sk-circle.sk-circle-4
             div.sk-circle.sk-circle-5
             div.sk-circle.sk-circle-6
             div.sk-circle.sk-circle-7
             div.sk-circle.sk-circle-8
             div.sk-circle.sk-circle-9
             div.sk-circle.sk-circle-10
             div.sk-circle.sk-circle-11
             div.sk-circle.sk-circle-12