
/* Smartphones (горизонтальная) ----------- */
//@media only screen and (min-width: 321px)

/* Smartphones (вертикальная) ----------- */
//@media only screen and (max-width: 320px)
/* iPad 3**********/
//@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
//@media only screen and (min-width: 1024px) and (max-width: 1373) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
@media only screen and (max-width: 1373px)
    /* services (page) ----------- */
.services
    grid-template-columns: 100%
    grid-template-rows: 18vh 160vh 10vh
    .service__content
        grid-template-rows: 60px 150vh
        max-width: 90vw
    .services__main
        grid-template-columns: 1fr
        height: 100%
    /* roof-repair (page) ----------- */
    .roof-repair
        .roof-repair__content
            max-width: 90vw

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (max-width: 1024px)
    .header__top__information
        grid-template-columns: 40% 40% 20%
        .header__slogan
            display: none

    .benefits
        grid-template-columns: repeat(4, minmax(20%, 30%))
        grid-column-gap: 1%

    .benefits-items
        position: relative
        grid-template-columns: 70px 1fr
        grid-column-gap: 5%
        p
            margin: 0
            font-size: 14pt
            padding: 0
        img
            padding: 0
            margin: 0

    .service-top
        grid-template-columns: 1fr
        grid-row-gap: 20px
        align-self: center
        padding: .5rem
        padding-top: 1rem
        display: block

    /* roof-repair (page) ----------- */
    .roof-repair
        grid-template-rows: 18vh 140vh 10vh
        .roof-repair__main
            grid-template-rows: 28% 15% 55%

/* Планшеты ----------- */
@media only screen and  (max-width : 768px)
    .discount
	    .discount__info
		    max-width: 75%
		    margin: 0
		    padding: .7rem
    .benefits
        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p
                margin: 0
                font-size: 14pt
                padding: 0
                text-align: left
            img
                padding: 0
                margin: 0
    .callback__form__call
        left: 25vw
        width: 50vw

    /* services (page) ----------- */
    .service__content
        grid-template-columns: 100%
        grid-template-areas: "title" "main"

    .services__navbar
        display: none

    /* roof-repair (page) ----------- */
    .roof-repair
        grid-template-rows: 18vh 120vh 10vh
        .roof-repair__content
            grid-template-columns: 1fr
            grid-column-gap: 0
        .roof-repair__main
            grid-template-rows: 23% 11% 55%
        .roof-repair__navbar
            display: none

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px)
    .benefits
        grid-template-rows: 50% 50%
        grid-template-columns: repeat(2, 50%)
        grid-column-gap: 1%
        div: nth-child(odd)
        grid-row: 2/-1
    .discount
	    p
		    text-align: left
		    padding: .5rem
	    .button__simple
		    max-width: 40%
    height: 60%

    .callback__form__call
        left: 25vw
        width: 50vw

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
    .benefits
        grid-template-rows: 50% 50%
        grid-template-columns: repeat(2, 50%)
        grid-column-gap: 1%
        div: nth-child(odd)
        grid-row: 2/-1
        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p
                margin: 0
                font-size: 14pt
                padding: 0
            img
                padding: 0
                margin: 0

/* Smartphones L (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px)
    #head-menu
        display: none
    .m-menu
        display: block
    .header__top__information
        grid-template-columns: 50% 50%
        grid-template-rows: 1fr 1fr
        .header__logo
            grid-column: 1/-1
        .header__phone
            grid-column: 1/2
            grid-row: 2/3
        .button__simple
            grid-column: 2/-1
            grid-row: 2/3
    .discount
	    .discount__info
		    max-width: 85%
		    margin: 0
		    padding: .7rem

    .container
        max-width: 95vw

    .header-content
	    grid-template-columns: 100%
	    grid-template-rows: 1.2fr 1fr
	    grid-row-gap: 15px
	    align-content: center

    .benefits
        grid-template-rows: repeat(4, 1fr)
        grid-template-columns: 100%
        grid-column-gap: 0
        grid-row-gap: 3%
        div: nth-child(odd)

        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p

    .service-top
        grid-template-columns: 1fr
    .our-service-right
        grid-template-columns: 1fr
        grid-template-rows: repeat(6, 16vh)
        grid-row-gap: 1%
        div: nth-child(1)
        grid-column: 1/-1
        grid-row: 1/2
        .our-service-items__text
            width: 70%
            div: nth-child(2)
            grid-column: 1/-1
            grid-row: 2/3
            div: nth-child(3)
            grid-column: 1/-1
            grid-row: 3/4
            div: nth-child(4)
            grid-column: 1/-1
            grid-row: 4/5
            .our-service-items__text
                width: 73%
                div: nth-child(5)
                grid-column: 1/-1
                grid-row: 5/6
                div: nth-child(6)
                grid-column: 1/-1
                grid-row: 7/8

    #my-footer
        min-height: 60vh
    .work-bottom-items
        p
            font-size: 15pt
    .footer-items
        grid-template-columns: 1fr 1fr
        grid-template-rows: 50% 50%
        grid-row-gap: 3%
        .footer__left
            grid-column: 1/-1
        .footer__center
        .footer__right

    .callback__form__call
        left: 10vw
        width: 80vw
    /* roof-repair (page) ----------- */
    .roof-repair
        grid-template-rows: 18vh 160vh 10vh
        .roof-repair__main
            grid-template-columns: 1fr
            grid-template-rows: .5fr .2fr 1fr
            grid-template-areas: "header" "order" "content"
            justify-items: center
            .roof-repair__main__img-container
                display: none
            .content
                .content__items__1
                    grid-template-columns: 1fr
                    grid-template-rows: 1fr .5fr
                    grid-row-gap: 20px
                    .content__items__1__text
                        grid-column: 1/-1
                        grid-row: 1/2
                    .content__items__1__img
                        grid-row: 2/3
                        grid-column: 1/-1

                .content__items__2
                    grid-template-columns: 1fr
                    grid-template-rows: 1fr .5fr
                    grid-row-gap: 20px
                    .content__items__2__text
                        grid-column: 1/-1
                        grid-row: 1/2
                    .content__items__2__img
                        grid-row: 2/3
                        grid-column: 1/-1

@media only screen and (min-width : 320px) and (max-width : 600px)
    .service-order
        grid-template-columns: 14% 85%
        grid-template-rows: 1fr 1fr
        grid-row-gap: 10px
        position: relative
        .btn-container
            grid-column: 1/-1
            max-width: 100%
            height: 100%
            .button__simple
                width: 100%
                height: 100%

@media only screen and (min-width : 320px) and (max-width: 375px)
    .header__top__information
        grid-template-columns: 100%
        grid-row-gap: 25%
    .benefits
        padding: 15px
    .discount
	    .discount__info
		    max-width: 95%

    .our-service-right
        .our-service-items
            .our-service-items__text
                width: 50%
                div: nth-child(1)
            .our-service-items__text
                width: 50%
                height: 25%
                div: nth-child(4)
            .our-service-items__text
                width: 50%
                height: 28%
                div: nth-child(5)
                grid-column: 1/-1
                grid-row: 5/6
                div: nth-child(6)
                grid-column: 1/-1
                grid-row: 7/8

    .work-bottom-items
        p
            font-size: 13pt

    #my-footer
        min-height: 50vh
    .footer-items
        grid-template-columns: 1fr
        grid-row-gap: 15%
        .footer__left
            display: none
        .footer__center
        .footer__right
            height: 50%
    .container
        max-width: 100vw
        margin: 0
    /* services (page) ----------- */
    .services
        grid-template-rows: 18vh 175vh 10vh
    .services__main
    .service__content
        grid-template-rows: 60px 165vh
        .services__work
            grid-template-columns: 1fr
            grid-template-rows: .5fr 1fr
            .sevices__work_left
                display: none
            .sevices__work_right
                grid-column: 1/-1
            h3
                text-align: center
            ul
                text-align: center
    /* roof-repair (page) ----------- */
    .roof-repair
        grid-template-rows: 18vh 230vh 10vh
        .roof-repair__main
            .service-order
                grid-template-columns: 1fr
                .img-container
                    display: none

/* iPads (горизонтальная) ----------- */
//@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)

/* Большие экраны ----------- */
//@media only screen  and (min-width: 1824px)

/* iPhone 5 ----------- */
//@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)

//@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
