
/* Smartphones (горизонтальная) ----------- */
//@media only screen and (min-width: 321px)

/* Smartphones (вертикальная) ----------- */
//@media only screen and (max-width: 320px)
/* iPad 3**********/
//@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
//@media only screen and (min-width: 1024px) and (max-width: 1373) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
@media only screen and (max-width: 1373px)
    /* services (page) ----------- */

    /* services-pages (page) ----------- */
    .services-pages
        .services-pages__content
            max-width: 90vw

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (max-width: 1024px)
    .header__top__information
        grid-template-columns: 40% 40% 20%
        .header__slogan
            display: none

    .benefits
        grid-template-columns: repeat(4, minmax(20%, 30%))
        grid-column-gap: 1%

    .benefits-items
        position: relative
        grid-template-columns: 70px 1fr
        grid-column-gap: 5%
        p
            margin: 0
            font-size: 14pt
            padding: 0
        img
            padding: 0
            margin: 0

    .service-top
        grid-template-columns: 1fr
        grid-row-gap: 20px
        align-self: center
        padding: .5rem
        padding-top: 1rem
        display: block

/* Планшеты ----------- */
@media only screen and  (max-width : 768px)
    .discount
	    .discount__info
		    max-width: 75%
		    margin: 0
		    padding: .7rem
    .benefits
        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p
                margin: 0
                font-size: 14pt
                padding: 0
                text-align: left
            img
                padding: 0
                margin: 0

    .contacts__content
        .contacts__content__feedback
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

    /* services (page) ----------- */
    .service__content
        grid-template-columns: 100%
        grid-template-areas: "title" "main"

    .services__navbar
        display: none

    /* services-pages (page) ----------- */
    .services-pages
        .services-pages__content
            grid-template-columns: 1fr
            grid-column-gap: 0
        .services-pages__main
           
        .services-pages__navbar
            display: none

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px)
    .benefits
        grid-template-rows: 50% 50%
        grid-template-columns: repeat(2, 50%)
        grid-column-gap: 1%
        div: nth-child(odd)
        grid-row: 2/-1
    .discount
	    p
		    text-align: left
		    padding: .5rem
	    .button__simple
		    max-width: 40%
    height: 60%


/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
    .benefits
        grid-template-rows: 50% 50%
        grid-template-columns: repeat(2, 50%)
        grid-column-gap: 1%
        div: nth-child(odd)
        grid-row: 2/-1
        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p
                margin: 0
                font-size: 14pt
                padding: 0
            img
                padding: 0
                margin: 0

/* Smartphones L (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px)
    #head-menu
        display: none
    .m-menu
        display: block
    .header__top__information
        grid-template-columns: 50% 50%
        grid-template-rows: 1fr 1fr
        .header__logo
            grid-column: 1/-1
        .header__phone
            grid-column: 1/2
            grid-row: 2/3
        .button__simple
            grid-column: 2/-1
            grid-row: 2/3
    .discount
	    .discount__info
		    max-width: 85%
		    margin: 0
		    padding: .7rem

    .container
        max-width: 95vw

    .header-content
	    grid-template-columns: 100%
	    grid-template-rows: 1.2fr 1fr
	    grid-row-gap: 15px
	    align-content: center

    .benefits
        grid-template-rows: repeat(4, 1fr)
        grid-template-columns: 100%
        grid-column-gap: 0
        grid-row-gap: 3%
        div: nth-child(odd)

        .benefits-items
            position: relative
            grid-template-columns: 70px 1fr
            grid-column-gap: 5%
            p

    .service-top
        grid-template-columns: 1fr
    .our-service-right
        grid-template-columns: 1fr
        grid-template-rows: repeat(6, 25vh)
        grid-row-gap: 1%
        div:nth-child(1)
            grid-column: 1/-1
            grid-row: 1/2
        div:nth-child(2)
            grid-column: 1/-1
            grid-row: 2/3
        div:nth-child(3)
            grid-column: 1/-1
            grid-row: 3/4
        div:nth-child(4)
            grid-column: 1/-1
            grid-row: 4/5
   
        div:nth-child(5)
            grid-column: 1/-1
            grid-row: 5/6
        div:nth-child(6)
            grid-column: 1/-1
            grid-row: 7/8

    #my-footer
        min-height: 60vh
    .work-bottom-items
        p
            font-size: 15pt
    

        
    /* services-pages (page) ----------- */
    .services-pages
        .services-pages__content
            .services-pages__main
                grid-template-columns: 1fr
                .services-pages__main__img-container
                    display: none

@media only screen and (min-width : 320px) and (max-width : 600px)
    .service-order
        grid-template-columns: 14% 85%
        grid-template-rows: 1fr 1fr
        grid-row-gap: 10px
        position: relative
        .btn-container
            grid-column: 1/-1
            max-width: 100%
            height: 100%
            .button__simple
                width: 100%
                height: 100%

@media only screen and (min-width : 320px) and (max-width: 375px)
    .header__top__information
        grid-template-columns: 100%
        grid-row-gap: 25%
    .benefits
        padding: 15px
    .discount
	    .discount__info
		    max-width: 95%

    .our-service-right
        .our-service-items
            .our-service-items__text
                width: 50%
                div: nth-child(1)
            .our-service-items__text
                width: 50%
                height: 25%
                div: nth-child(4)
            .our-service-items__text
                width: 50%
                height: 28%
                div: nth-child(5)
                grid-column: 1/-1
                grid-row: 5/6
                div: nth-child(6)
                grid-column: 1/-1
                grid-row: 7/8

    .work-bottom-items
        p
            font-size: 13pt

   
    /* services (page) ----------- */
    .services
        grid-template-rows: .1fr 1fr .1fr
        .services__main
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            .services__work
                grid-template-columns: 1fr
                grid-template-rows: .5fr 1fr
                .sevices__work_left
                    display: none
                .sevices__work_right
                    h3
                        text-align: center
                    ul
                        text-align: center
    /* services-pages (page) ----------- */
    .services-pages
        .services-pages__main
            .service-order
                grid-template-columns: 1fr
                .img-container
                    display: none
        .content
                .content__right
                    .content__right__text
                        img
                            padding: 0
                .content__left
                    .content__left__text
                        img
                            padding: 0

/* iPads (горизонтальная) ----------- */
//@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)

/* Большие экраны ----------- */
//@media only screen  and (min-width: 1824px)

/* iPhone 5 ----------- */
//@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)

//@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
