.callback__form__call
    position: fixed
    top: 25vh
    left: 50%
    margin: 0 0 0 -150px
    width: 300px
    height: 280px
    display: none
    background-color: white
    .call__input
            justify-items: center
            position: relative
            padding: 7px
            font-family: "Roboto-md"
            label
                position: absolute
                top: -1.5%
                left: 7%
                background-color: white
                transition: .4s
                color: #999999
            .input-text
                background-color: #fbfbfb
                width: 95%
                height: 40px
                text-align: left
                padding-left: 4%  
                box-shadow: none
                border: 1px  #999999 solid
                &:focus ~ label
                    color: black
                &:focus
                    border: 1px black solid
                    background-color: white
    .call__license
        padding: 5px 5px 5px 17px
        font-family: "Roboto-md"
        label
                a
                    text-decoration: none
                    color: black
                    link: black
                    vlink: black
                    alink: black
    
    .call__button
        padding: 5px 5px 5px 20px

    .call__text
        padding: 15px 5px 5px 15px
        font-family: "Roboto-ld"

