
#my-header
	-ms-grid-columns:  1fr
	grid-template-rows: 7vh 10vh 70vh 
	-ms-grid-rows: 50px 50px
	grid-row-gap: 20px 
	min-height: 100vh
	grid-area: header
	position: relative 
	background-color: #fafafa
	
.header-content
	grid-template-columns: 1fr
	grid-template-rows: 3fr 1fr
	grid-row-gap: 15px
	align-content: center
	max-width: 85%
	margin: 0 auto 0 auto

.discount
	background-size: cover
    background-position: center
	align-items: center
	color: white
	font-size: 16pt
	justify-items: start
	.discount__info
		max-width: 35%
		margin: 0
		padding: .7rem
	p   
		text-align: left
		padding: .5rem
	.button__simple
		width: 35%
        height: 60%
		

.benefits
  grid-template-columns: repeat(4, 1fr)

.benefits-items
  position: relative
  padding: 0
  grid-template-columns: 100px 1fr
  text-align: left
  align-items: center
  p
     margin: 0.5em
     font-size: 16pt
     font-family: "Roboto-md"
     color: $grey
     padding: .5rem
  img
     padding: 0.5em
     margin: 0.5em
	 
	
.header-top
	justify-items: center
	height: 3em
	align-items: center
	grid-template-columns: repeat(4 , minmax(200px,350px))
	grid-column-gap: 3%
	position: relative
	max-width: 85%
	margin: 0 auto 0 auto
	z-index: 1
	.button__simple
		width: 100%
        height: 100%
	

.header__logo
	font-size: 1rem
	font-family: "Roboto-ld" 
	img
		max-width: 400px

.header__slogan
	font-size: 1.3em
	letter-spacing: 1px
	color: $grey
	align-content: center
	font-family: "Roboto-md" 

.header__phone
	font-size: 1em
	letter-spacing: 1px
	color: $accent
	align-content: center
	display: block

.phone
	justify-self: center
	font-size: 1.1rem 
	padding-right: .7em
	font-family: "Roboto-md" 
	color: $grey
	text-decoration: none
	&:before
		  font-family: "FontAwesome"
		  font-size: 1.1rem 

.time
	padding-top: .7rem 
	font-size: 1.1rem 
	color: $grey
	text-decoration: none
	font-family: "Roboto-md" 
		
#head-menu
	height: 75%
	width: 100%
	background-color: #16a085
	text-align: center
	align-content: center
	z-index: 2
	transition: .4s
	color: white

		
.mm-navbar
	.mm-navbar__title
		position: relative
		padding: 0
		img
			max-width: 57vw

.mm-menu_listview-justify .mm-panels > .mm-panel .mm-listview, .mm-panels > .mm-panel_listview-justify .mm-listview
	display: grid
	grid-template-columns: 1fr
	-ms-grid-columns: 1fr
	grid-template-rows: repeat(5, 1fr)
	-ms-grid-rows: repeat(5, 1fr)  
	height: 50%
	.mm-listitem
		display: grid
		text-align: left
		align-items: center
		font-size: 1rem
		font-family: "Roboto-md"
		color: $dark
		cursor: pointer
		a
			font-family: "Roboto-md"
			font-size: 1.5rem
	.mm-listitem:nth-child(1)
			
	.mm-listitem:nth-child(2)
			
	.mm-listitem:nth-child(3)
			
	.mm-listitem:nth-child(4)
			
	.mm-listitem:nth-child(5)