
#my-header
	grid-template-rows: .1fr 1fr
	grid-row-gap: 17px 
	min-height: 100vh
	grid-area: header
	background-color: #fafafa
	
.header-content
	grid-template-columns: 1fr
	grid-template-rows: 2fr 1fr
	grid-row-gap: 15px
	align-content: center
	justify-items: center
	

.discount
	align-items: center
	color: white
	font-size: 16pt
	justify-items: start

	max-height: 100%
	width: 80%
	display: block
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	.discount__info
		max-width: 35%
		margin: 0
		padding: .7rem
	p   
		text-align: left
		padding: .5rem
	.button__simple
		max-width: 32%
        height: 60%
		

.benefits
  grid-template-columns: repeat(4, 1fr)

.benefits-items
  position: relative
  padding: 0
  grid-template-columns: 100px 1fr
  text-align: left
  align-items: center
  justify-items: start
  p
     margin: 0.5em
     font-size: 16pt
     font-family: "Roboto-md"
     color: black
     padding: .5rem
  img
     padding: 0.5em
     margin: 0.5em
	 	

.mm-navbar
	.mm-navbar__title
		position: relative
		padding: 0
		img
			max-width: 57vw

.mm-menu_listview-justify .mm-panels > .mm-panel .mm-listview, .mm-panels > .mm-panel_listview-justify .mm-listview
	display: grid
	grid-template-columns: 1fr
	-ms-grid-columns: 1fr
	grid-template-rows: repeat(5, 1fr)
	-ms-grid-rows: repeat(5, 1fr)  
	height: 50%
	.mm-listitem
		display: grid
		text-align: left
		align-items: center
		font-size: 1rem
		font-family: "Roboto-md"
		color: $dark
		cursor: pointer
		a
			font-family: "Roboto-md"
			font-size: 1.5rem
	.mm-listitem:nth-child(1)
			
	.mm-listitem:nth-child(2)
			
	.mm-listitem:nth-child(3)
			
	.mm-listitem:nth-child(4)
			
	.mm-listitem:nth-child(5)