@import "callback__form"

.header__top
	grid-template-rows: .7fr 1fr
	grid-row-gap: 5px
	position: relative
	display: block
.header__top__information
	justify-items: center
	height: 5em
	align-items: center
	grid-template-columns: repeat(4 , minmax(10%,20%)) 
	grid-column-gap: 3%
	position: relative
	max-width: 85%
	margin: 0 auto 0 auto
	color: black
	z-index: 1
	.button__simple
		width: 100%
        height: 100%
	

.header__logo
	font-size: 1rem
	font-family: "Roboto-ld" 
	img
		max-width: 400px

.header__slogan
	font-size: 1.3em
	letter-spacing: 1px
	align-content: center
	font-family: "Roboto-md" 

.header__phone
	font-size: 1em
	letter-spacing: 1px
	align-content: center
	display: block
	color: black

.phone
	justify-self: center
	font-size: 1.1rem 
	padding-right: .7em
	font-family: "Roboto-md" 
	color: black
	text-decoration: none
	&:before
		  font-family: "FontAwesome"
		  font-size: 1.1rem 

.time
	padding-top: .5rem 
	font-size: 1.1rem 
	text-decoration: none
	font-family: "Roboto-md" 
	text-align: center

#head-menu
	align-self: end
	height: 80px
	max-width: 100vw
	background-color: #16a085
	text-align: center
	align-content: center
	color: white


