.service-order
    grid-template-columns: 15% 65% 15%
    align-items: center
    img
        margin: auto
    p
        font-family: "Roboto-md"
        font-size: 14pt
        margin: 0
    .button__simple_theme_green
        padding: 5% 0 5% 0